<div class = "addComment">
  <%= form_for([@book, @comment]) do |fc| %>

       <div class = "comment_header" id="left"> <%=  "Add a comment" %>  
      <% if @rateable %>
       <label style ="padding: 0 5px"> -   Rate: </label>  
       </div>
        <div class = "rate"><%= rating_for @book, 'book_rate', disable_after_rate: false, cancel_place: 'right'%></div>
      <br>
      <% else %>
      </div>
      <% end %>
   
    <div class = "comment_message">
    <%= fc.text_area :message, class: 'comment', placeholder: "Comment"%><br>
    <%= fc.submit "Comment", :class => 'submit' %>
    </div>
  <% end %>
</div>
