<h2><%= @book.title%> </h2>
<div>

    <%= @book.image? ? ( image_tag @book.image ) : ( image_tag 'no_book.jpg', height: '300', width: '200') %>

  <div>
    <div> Description: <%= @book.description %></div>
    <div> Year: <%= @book.year %></div>
    <div> Author: <%= link_to @book.author.first_name, @book.author %></div>
  </div>
</div>

<%= render 'comments/section' if user_signed_in? %>

<% if @comments.size > 0 %>

<div> Comments: </div>
<ul>
  <% @comments.each do |c| %>
    <li>
      <%= c.message %>
      <% if c.rate > 0 %>
      Rate: <%= c.rate %>/5
      <% end %>
    </li>
  <% end %>
</ul>

<% else %>
  <div> There is no comments for this book yet. </div>
<% end %>
