
<div id= "Book">
  <div id= "image">
      <%= @book.image? ? ( image_tag @book.image ) : ( image_tag 'no_book.jpg', height: '300', width: '200') %>
  </div>
  <div id = "intro">
    <h1><%= @book.title%> </h1>
    <h2> <%= link_to @book.author, @book.author %></h2>
    <div id="req"> 
      <h2> <%= @book.year %> </h2>
      <% if user_signed_in? %>
        <%=  link_to 'Request', book_requests_path(@book), method: :post %>
      <% end %>
    </div>
    <div id="desc"> 
      <%= @book.description %>
    </div>
  </div> 
</div> 

<% if @comments.size > 0 %>

<div id="comments"> 
  <h1>Comments</h1>
  <ul>
    <% @comments.each do |c| %>
      <li>
        <div class = "comment_header">
          <div style="float:left">
           <%= "#{c.user}  -  "%>
          </div>
          <div style="float:left">
          <%= rating_for_user @book, c.user, 'book_rate', disable_after_rate: true, readOnly: true %>
          <end>
        </div>
        <div class = "comment_message">
          <%= c.message %>
        </div>
        <hr> 
      </li>
    <% end %>
  </ul>
</div>
<% else %>
  <div class = "no_item"> This book don't have any comments yet. </div>
<% end %>

<%= render 'comments/section' if user_signed_in? %>

