<h2 class = "index_header"> Log in </h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field clearfix">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field clearfix">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field clearfix">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>
  <% end -%>

  <div class="actions clearfix">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<div class="options">
  <%= render "devise/shared/links" %>
</div>
